<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

 <configuration>
 	<!-- 사용하려는 DTO에 대한 축약 이름(별명) -->
 	<typeAliases>
 		<typeAlias type="com.sunrise.creditcard.vo.RcvApplVO" alias="rcvApplVo" />
 		<typeAlias type="com.sunrise.creditcard.vo.CommCodeDtlVO" alias="commCodeDtlVO" />
 		<typeAlias type="com.sunrise.creditcard.vo.CustVO" alias="custVo" />
 		<typeAlias type="com.sunrise.creditcard.vo.CardVO" alias="cardVo" />
 	</typeAliases>
 	
 	<!-- 사용할 쿼리에 대한 등록 -->
 	<mappers>
  		<mapper resource="mappers/rcvApplMapper.xml" />
  		<mapper resource="mappers/commCodeMapper.xml" />
  		<mapper resource="mappers/custMapper.xml" />
  		<mapper resource="mappers/cardMapper.xml" />
 	</mappers>
 </configuration>